---
layout: base.njk
pageClass: music
---

<h1>{{ Title }}</h1>
<p>Source: {{ Source }}</p>

<iframe src="https://embed.stanford.edu/iframe?url=https://purl.stanford.edu/{{Audio}}" height="400px" width="100%" title="Media viewer" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen></iframe>